/* =============================== Variables =========================== */

/* ============================== GOlbal styling ======================= */
* {
    padding: 0rem;
    margin: 0rem;
    box-sizing: border-box;
    overflow: hidden;
    /* font-size: 1rem; */
}

body {
    font-family: 'poppins', sans-serif;
    margin: 0rem;

}

.hero-content {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #fff;
    display: grid;
    grid-template-columns: 14% 1fr 1fr 1fr 11%;
    grid-template-rows: 10% 1fr 1fr 1fr 10%;
    /* row-gap: 1rem;
    column-gap: 1rem; */

}

.hero {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 5;
    background-image: url('images/background.jpeg');
}

.main {
    display: grid;
    grid-template-columns: 3% 1fr 1fr 1fr 10%;
    grid-template-rows: 10% 9% 1fr 1fr 1fr 8% 10%;
    column-gap: 1rem;
}

.your {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 7;
    /* background-color: antiquewhite;  */
}

.user_info {
    height: 100%;
    background-color: rgb(154, 163, 160);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 2rem;
}

.user_info p {
    height: 10%;
    width: 95%;
    font-weight: bold;
    font-size: 1.32em;
    color: rgb(207, 224, 218);
    text-align: center;
    /* background-color: rgb(231, 176, 105); */
}

.user-image {
    height: 65%;
    width: 90%;
    border-radius: 50%;
    background-color: rgb(207, 224, 218);
}

.user-details {
    color: rgb(207, 224, 218);
    font-size: 1rem;
    font-weight: bold;

}

.master-side {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;
    background-color: rgb(207, 224, 218);
    border-radius: 0.8rem;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
}

.master-side p {
    height: 11%;
    text-align: center;
    padding-top: 2%;
    font-size: 1.3rem;
    font-weight: bold;
    color: rgb(207, 224, 218);
    background-color: rgb(154, 163, 160);
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
}

.master-side .user-info-details {
    height: 87%;
    display: grid;
    grid-template-columns: 4% 1fr 1fr 4%;
    grid-template-rows: 4% 1fr 1fr 1fr 4%;
    column-gap: 1rem;
    row-gap: 1rem;
}

.inputbox span {
    font-weight: bold;
    font-size: 1rem;

}

.inputbox input {
    text-align: center;
}

.inputbox input {
    width: 100%;
    height: 50%;
}

@media screen and (max-width=500px) {
    body {
        width: 15%;
        height: 10%;
    }
}

@media screen and (max-width=500px) {
    body .user-info-details {
        row-gap: 0rem;
    }
}



.name1 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.name2 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}


.email {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

.birth {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}

.dep {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
}