@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: poppins;
}
    body{
    height: 1000%;
    width: 100%;
    background-color: aquamarine;
}

.container{
    height: fit-content;
    width: 81%;
    position: absolute;
    left: 19%;
    top: 7%;
    
}
.horizontal-line1{
    /* height: 1%; */
    background-color: rgb(11, 11, 154);
    margin: 0%;
    padding-top: 0.3%;
    position: absolute;
    width: 100%;
    left:0%;
    top: 0%;

}

/* #top-head{
    background: red;
    margin-top: 4px;
    height: 35px;
    width: 100%;
    
} */


.horizontal-line{
    height: 3px;
    background-color: #cfc4c4;
    padding: 0px;
    margin: 0px;

}
.horizontal-line2{
    background-color: #d0c2c2;
    height: 1%;
    margin-top: 0%;
    width: 100%;


}


@media screen and (max-width:550px) {
    .container{
        left: 0%;
        width: 100%;
        top: 10%;
    }

    .row{
        font-size: 0.9rem;
    }
    
}