/* =============================== Variables =========================== */

/* ============================== GOlbal styling ======================= */
* {
    padding: 0rem;
    margin: 0rem;
    box-sizing: border-box;
    overflow: hidden;
    /* font-size: 1rem; */
}

body {
    font-family: 'poppins', sans-serif;
    margin: 0rem;

}

.hero-content {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #fff;
    display: grid;
    grid-template-columns: 17% 1fr 1fr 1fr 15%;
    grid-template-rows: 8% 1fr 1fr 1fr 13%;
    /* row-gap: 1rem;
    column-gap: 1rem; */

}

.hero {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 5;
    background-image: url('/Fontend-design/images/background.jpeg');
}

.main {
    display: grid;
    grid-template-columns: 2% 1fr 1fr 1fr 4%;
    grid-template-rows: 10% 9% 1fr 1fr 1fr 9% 10%;
    column-gap: 1rem;
}

.your {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 7;
    /* background-color: antiquewhite;  */
}

.user_info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 2rem;
    background-color: rgb(154, 163, 160);
}

.user-head {
    height: 10%;
    width: 100%;
    font-weight: bold;
    font-size: 1.32rem;
    color: #fff;
    /* color: rgb(207, 224, 218); */
    text-align: center;
    /* background-color: rgb(231, 176, 105); */
}

.user-image-info {
    height: 47%;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 60%;
    text-align: center;
    background-color: rgb(207, 224, 218);;
   
    
}

.user-image {
    height: 100%;
    width: 100%;
    color: rgb(207, 224, 218);
}

.user-bottom {
    height: 9%;
    width: 100%;
    text-align: center;
    color: #fff;
    /* color: rgb(192, 228, 216); */
    /* background-color: rgb(207, 224, 218); */
}

.user-bottom p {
    font-size: 1.32rem;
    font-weight: bold;
    /* color: red; */
}

.user-details {
    height: 30%;
    width: 100%;
    display: grid;
    grid-template-columns: 2% 1fr 18%  4%1fr 2%;
    grid-template-rows:1% 1fr 1fr 1fr ;
    font-size: 0.95rem;
    font-weight: bold;

}

.user-details-top1{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;

}
.user-details-bottom1{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;

}
.user-details-top2{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;

}
.user-details-bottom2{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;

}
.user-details-top3{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;

}
.user-details-bottom3{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;

}


.master-side {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;
    background-color: rgb(207, 224, 218);
    border-radius: 0.8rem;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
}

.master-head {
    height: 11%;
    text-align: center;
    padding-top: 2%;
    font-size: 1.32rem;
    font-weight: bold;
    color: rgb(207, 224, 218);
    background-color: rgb(154, 163, 160);
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
}

.master-side .user-info-details {
    height: 87%;
    display: grid;
    grid-template-columns: 4% 1fr 1fr 4%;
    grid-template-rows: 1% 1fr 1fr 1fr 4%;
    column-gap: 1rem;
    row-gap: 0.5rem;
}

.name1 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.Details-name {
    font: 1.2rem;
    font-weight: bold;
}

.name div p {
    height: 2.7rem;
    text-align: left;
    padding: 2% 0% 0% 1%;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(230, 248, 242);
    background-color: rgb(154, 163, 160);

}

.name2 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.email {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.birth {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.dep {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}