@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    padding: 0rem;
    margin: 0rem;
    border-radius: 0rem;
}

.container {
    background-color: rgb(174, 243, 243);
    height: 65%;
    width: 70%;
    position: absolute;
    top: 15%;
    left: 13%;
    transform: translate(-40, -50);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-nav {
    height: 8%;
    display: flex;
    /* justify-content: left; */
    align-items: left;

    /* background-color: blue; */
}

.top-nav h2 {
    font-size: 1.35rem;
    font-weight: bold;
}

.horizontal-line {
    background-color: rgb(21, 21, 235);
    height: 0.2%;
    width: 94.5%;
    margin: 0 2.3% 0 1.3%;
}

main {
    height: 79%;
    width: 95%;
    background-color: #fff;
    margin-left: 1%;
    margin-right: 2%;
    border-radius: 5px;
}

.view-notice {
    font-size: 1.2rem;
    padding: 1% 0 1% 1%;

}

.main-notice {
    width: 96%;
    height: 10%;
    margin: 0 1% 0 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.main-header {
    display: flex;
    align-items: center;
    flex-grow: 1;
    font-size: 1.2rem;
    /* justify-content: space-evenly; */
}

.main-text {
    padding-right: 2%;
}

.main-text-right {
    padding-left: 4%;
}

.main-bottom {
    width: 17%;
    padding-right: 4%;
}


.content-table {
    border-collapse: collapse;
    width: 97%;
    margin: 2% 0 0 1%;
}

.content-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {

    padding: 12px 15px;
    font-size: 1.25rem;
    /* font-weight: bold; */

}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

@media screen and (max-width:800px) {
    .container {
        height: 65%;
        width: 78%;
    }

    .content-table {
        border-collapse: collapse;
        margin: 3% 0 0 2%;
    }

    main {
        height: 75%;
        
    }
    .content-table th,
    .content-table td {

        padding: 10px 4px;
        font-size: 0.7em;
        /* font-weight: bold; */

    }


    .top-nav {
        height: 9%;
        margin-bottom: 4;
        display: flex;
        justify-content: center;
        align-items: left;
        /* background-color: blue; */
    }

    .top-nav h2 {
        font-size: 1.4rem;
        font-weight: bold;
    }


    .view-notice {
        height: 7%;
        font-size: 1.15rem;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .main-text{
        font-size: 0.95rem;
    }

    .main-text-right{
        font-size: 0.95rem;
    }
}
