@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    padding: 0rem;
    margin: 0rem;
    border-radius: 0rem;
    font-family: Poppins;
}

body {
    height: 100%;
    width: 100%;
}

.container-fluid {
    background-color: rgb(169, 232, 232);
    top: 7%;
    left: 19%;
    position: absolute;
    height: 93%;
    width: 81%;
}

.top-nav {
    height: 10%;
    width: 95%;
    /* background-color: red; */
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.top-nav h2 {
    font-size: 1.6rem;
    font-weight: bold;
    margin-left: 2%;
}

main {
    background-color: #ffffff;
    height: 90%;
    width: 97.5%;
    margin-left: 1%; 
}

.horizontal-line {
    background-color: rgb(45, 45, 224);
    height: 0.4%;
    margin: 0 0.2% 0 0.2%;
}

.view-notice{
    height: 7%;
    display: flex;
    align-items: center;
    width: 98%;
    font-weight: 300;
    font-size: 1.18rem;
    padding-left: 2%;
    
}

.main-notice {
    width: 96%;
    height: 8%; 
    padding: 0 1% 0 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.main-header {
    display: flex;
    align-items: center;
    flex-grow: 1;
    font-size: 1.1rem;
    /* justify-content: space-evenly; */
}

.main-notice {
    /* background-color: #009879; */
    width: 96.9%;
}

.main-text {
    padding-right: 1%;
}

.main-text-right {
    padding-left: 1%;
}

.main-text-middle {
    width: 5%;
    font-size: 0.98rem;
}

.main-bottom {
    width: 10%;
    font-size: 0.98rem;
    text-align: center;
    
}
.table-holder{
    width: 100%;
    height: 80%;
    position: relative;
    overflow: scroll;
}


.content-table {
    border-collapse: collapse;    
}

.content-table thead tr {
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table tr {

    padding: 13px 15px;
    font-size: 1.15rem;
    text-align: center;

    
}

.content-table th{
    position: sticky;
    background-color: #009879;
    top: 0;
    height: 8%;
    text-align: center;
    
}

.content-table td {

    padding: 13px 15px;
    font-size: 0.95rem;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;

}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

@media screen and (max-width:650px) {
    body {
        width: 100%;
        padding: 0px;
        margin: 0px;
    }

    .container-fluid {
        height: 100%;
        width: 100%;
        left: 0;
    }

    .top-nav {
        height: 8%;
        width: 100%;

    }

    .top-nav h2 {
        height: 80%;
        font-size: 1.35rem;
        display: flex;
        justify-content: left;
        align-items: center;
        font-weight: bold;
        margin: 0;
        padding-left: 2%;
        width: 98%;
    }

    main {
        width: 100%;
        height: 80%;
        margin-left: 0.6%;
    }

    .view-notice {
        font-size: 1.15rem;
        margin: 2% 0 2% 0;
        text-align: center;
        width: 97%;
        /* background-color: blue; */

    }

    .main-header {
        flex-grow: 1;
        /* font-size: 0.8rem; */
    }

    .main-text {
        padding-right: 1.5%;
        font-size: 1rem;
    }

    .main-text-right {
        font-size: 0.9rem;
    }

    .main-text-middle {
        width: 15%;
        font-size: 1rem;
    }


    .main-bottom {
        width: 15%;
        font-size: 0.9rem;
    }

    .content-table {
        height: 60%;
    }

    .content-table th,
    .content-table tr {

        padding: 10px 4px;
        font-size: 1rem;
    }

    .content-table td {
        padding: 9px 4px;
        font-size: 0.85rem;
    }
}