
*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

body{
    height: 100%;
    width: 100%;
}
/* adf */

.container{
    background-color: whitesmoke;
    position: absolute;
    top: 10%;
    left: 3%;
    height: 70%;
    width: 97%;
}
.salary-head{
    height: 20%;
    display: flex;
    justify-content: center;
    /* background-color: red; */
}
.form-label{
    font-size: 1.35rem;
    font-weight: 550;
}

.salary-ans{
    font-size: 1.35rem;

}
