@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
:root
{
/* ==================MAIN COLORS==================*/
    --primary-color: hsl(230, 69%, 61%);
    --primary-color-alt: hsl(230, 100%, 90%);
    --dark-color:hsl(0, 0%, 20%);
    --dark-color-alt: hsl(0, 0%, 36%);
    --dark-selected:hsl(0, 0%, 20%);
    --Checkin:hsl(120, 50%, 50%);
    --Checkin-hover:hsl(120, 50%, 30%);
/* =====================TEXTS ======================*/
    --text-dark-color: #333;
    --text-dark-color-alt:grey;
    --text-light-color: whitesmoke;
}
/* =====================Global CSS ===================== */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif ;
    font-size: 1rem;
}
body
{
    background-color: whitesmoke;
    font-family: sans-serif;
}
span
{
    font-size: inherit;
}
a
{
    font-size: .7rem;
    text-decoration: none;
}
button
{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
li
{
    list-style: none;
}
/* ===================== Nav_bar ===================== */
.nav-bar
{
    height: 6.5%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99;
    background: var(--primary-color);
    padding: 0.1em  1em;
}
.logo
{
    line-height: 2.6rem;
    color: var(--text-light-color);
    font-size: 1.3rem;
}
.logo:hover
{
    color: var(--primary-color-alt);
}
.logo_container
{
    width: 10%;
    text-align: center;
}
.drop-down
{  
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: .2rem 0;
    cursor: pointer;
    border: 2px solid var(--primary-color-alt);
    width: 13%;
    transition: 0.3s;
}
.drop-down .avatar
{
    /* transform: translateY(3px); */
    width: 18%;
    border-radius: 50%;
}
.Name
{
    font-size: .8rem;
    text-align: center;
    line-height: 1rem;
    color: var(--text-light-color);
}
.drop-down:hover
{
    background: var(--primary-color-alt);
    border-color: black;
}
.drop-down:hover h1
{
    color: var(--text-dark-color);
}
.drop-down:hover .avatar
{
    border: 1px solid black;
}
/* =====================Sub menu===================== */
.sub-menu-wrap
{
    position: absolute;
    top: 3.2rem;
    right: 1%;
    background-color: var(--dark-color);
    opacity: .9;
    max-height: 0%;
    border-radius: 5px;
    width: 17%;
    overflow: hidden;
    transition: .3s;
}
.active-menu
{
    max-height: 50%;
}
.sub-menu ul
{
    text-align: left;
}
.sub-item-icon
{
    margin-right: 1.5rem;
    background-color: var(--primary-color-alt);
    color: var(--text-dark-color);
    font-size: .9rem;
    padding: .3rem;
    border-radius: 50%;
}
.arrow-icon
{
    position: absolute;
    right: 8%;
    /* transform: translateY(.3rem); */
    transition: .3s;
}
.sub-item a
{
    color: var(--text-light-color);
    transition: .3s;
}
.sub-item
{
    padding: .3rem 1rem;
    width: 100%;
    cursor: pointer;
    transition: .3s;
}
.sub-item:hover
{
    background-color:var(--dark-color-alt) ;
}
.sub-item .arrow-icon
{
    transform: translateY(.3rem);
}
.sub-item:hover .arrow-icon
{
    color: var(--primary-color-alt);
    transform: translate3d(.3rem,.3rem,0);
}
.sub-item:hover a
{
    color: var(--primary-color-alt);
}
.sub-menu-active
{
    max-height:50% ;
}



/* ===================== Sidebar ===================== */
.container
{
    padding: 2px 4px;
}
.side_bar
{
    background-color: var(--dark-color-alt);
    position: absolute;
    top: 6.4%;left: 0;
    width: 15%;
    height: 93.666%;
}
.clock_section
{
    background-color: var(--dark-color);
    text-align: center;
    height: fit-content;
    border-bottom: .3rem solid #000;
    padding-bottom: .7rem;

}
.clock_section .avatar
{
    width: 50%;
    margin: .3rem auto .6rem;
    border-radius: 50%;
    border: .6px solid var(--text-light-color);
}
.side-clock
{
    color: var(--text-light-color);
    font-weight: bold;
    font-size: 1.2rem;
    margin: .6rem auto .3rem auto ;
}
.check-in-out
{
    display: flex;
    justify-content:space-between;
    padding: 0 1rem;
    text-align: left;
    color: var(--text-dark-color-alt);
    margin-bottom: 0rem;
}
.Title-data
{
    font-size: .74rem;
}
p.time-data
{
    font-size: .74rem;
}
.check-inout-btn
{

    color: var(--text-light-color);
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 8px;
    font-size: 1rem;
    transition: .3s;
    margin-top: .2rem;
}
.Check-out
{
    background-color: red;
}
.Check-in
{
    background-color: var(--Checkin);
}
.Check-in:hover
{
    background-color: var(--Checkin-hover);
}
.Check-out:hover
{
    background-color: rgb(139, 0, 0);
}
.Reset
{
    background-color: grey;
}

/* =====================Menu Items===================== */
.menu_elements
{
    background: var(--dark-selected);
}
.menu_item a
{
    color: whitesmoke;
    transition: .3s;
    font-style: 0.3rem;
}
.menu_item
{
    padding: 1rem 1.5rem;
    width: 100%;
    transition: .3s;
}
.menu_item:hover
{
    cursor: pointer;
    border-left: 4px solid var(--primary-color);
    background-color: var(--dark-color-alt);
}
.menu_item:hover a
{
    color: var(--primary-color-alt);
}
.menu-icon 
{
    margin-right: 1rem;
}
.menu_item:hover .menu-icon
{
    color: var(--primary-color-alt);
}
.active-menu
{
    background: var(--dark-color-alt);
    border-left: 4px solid var(--primary-color);
}
.active-menu a
{
    color: var(--primary-color-alt);
}


/* =====================Hero Section===================== */
.hero-section
{
    position: absolute;
    z-index: -1;
    top: 6.4%;
    left: 15%;
    background: whitesmoke;
    width: max-content;
    width: 85%;
    height: 93.66%;
}

/* =====================Password Section===================== */
.password-popup
{
    display: inline-block;
    background-color: whitesmoke;
    position: absolute;
    opacity: 0;
    top: -150%;
    left: 50%;
    box-shadow: 2px 2px 5px 5px rgb(0, 0, 0,0.15);
    transform: translate(-50%,-50%) scale(1.25);
    padding: 2rem 2rem;
    text-align: left;
    width: 24.5%;
    border-radius: 6px;
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
}
.password-popup.active
{
    top: 50%;
    opacity: 1;
    transform: translate(-50%,-50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
}
.password-popup h1
{
    color: var(--primary-color);
}
.form
{

    margin-top: 1.6rem;
}
.question
{
    font-size: .9rem;
    margin-top: .8rem;
    outline: none;
}
.Answer
{
    border-radius: 5px;
    width: 100%;
    padding: .3rem;
    outline: none;
    transition: .3s;
}
.Answer:focus
{
    border: 2px solid var(--primary-color);
}
.submit-btn
{
    align-self: center;
    margin: 1.6rem auto 0;
    width: 100%;
    background-color: var(--primary-color);
    border: none;
    border-radius: 25px;
    padding: .3rem .6rem;
    font-weight: bold;
    color: var(--text-light-color);
    cursor: pointer;
    transition: .3s;
}
.submit-btn:hover
{
    background-color: var(--primary-color-alt);
    color: black;
}
.close-icon
{
    text-align: center;
    position: absolute;
    top: .4rem;right: .7rem;
    padding: .2rem;
    /* background-color: var(--primary-color); */
    border-radius: 50%;
    width: 1.9rem;
    cursor: pointer;
    transition: .3s;
}
.close-icon:hover
{
    background-color: var(--primary-color-alt);
}
